<h3 class="text-center">Add a song</h3>

<form method="post" action='/songs'>
  <div class="form-group">
    <label>Song Title:</label>
    <input type="text" name="title" class="form-control">

    <label>Song Artist:</label>
    <input type="text" name="author" class="form-control">

    <label>URL:</label>
    <input type="text" name="url" class="form-control">
  </div>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
</form>
